---
- name: Deploy apps from repository
  hosts: localhost
  gather_facts: false
  vars:
    kubeconfig: "~/.kube/config" 

  tasks:

    - name: Ensure Namespace exisits
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig }}"
        name: linkding
        kind: Namespace
        state: present

    - name: Find all yaml files inside apps folder
      find:
        paths: "{{ playbook_dir }}/../k8s-manifest"
        patterns: "*.yaml"
        recurse: yes
      register: app_manifests

    - name: Apply manifests to cluster
      kubernetes.core.k8s:
        state: present
        src: "{{ item.path }}"
      loop: "{{ app_manifests.files }}"

