---
- name: Deploy apps from repository
  hosts: localhost
  gather_facts: false
  vars:
    kubeconfig: "~/.kube/config" 
    playbook_dir: "~/Pi_Cluster"

  tasks:

    - name: Ensure Namespace exisits
      kubernetes.core.k8s:
        kubeconfig: "{{ kubeconfig }}"
        name: linkding
        kind: Namespace
        state: present

    - name: Find all yaml files inside apps folder
      find:
        paths: "~/Pi_Cluster/k8s-manifests"
        patterns: "*.yaml"
        recurse: yes
      register: app_manifests

    - name: Apply manifests to cluster
      kubernetes.core.k8s:
        state: present
        src: "{{ item.path }}"

    - name: Add Grafana Helm repo
      kubernetes.core.helm_repository:
        name: grafana
        repo_url: "https://grafana.github.io/helm-charts"

    - name: Add Promethus Helm repo
      kubernetes.core.helm_repository:
        name: prometheus-community
        repo_url: "https://prometheus-community.github.io/helm-charts"

    - name: Deploy Promethus Stack wirh Grafana   
      kubernetes.core.helm:
        name: kube-prom-stack
        chart_ref: prometheus-community/kube-prometheus-stack
        release_namespace: monitoring
        create_namespace: true
        update_repo_cache: true
        values_files:
          - "{{ playbook_dir }}/../helm-values/grafana-values.yml"
        kubeconfig: "~/.kube/config"

